{% extends 'news/base.html' %}

{% block content %}

    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{ single_news.get_cover_image }}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{ single_news.category_id.name }}</a>
                                <a class="text-body" href="">Jan 01, 2045</a>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ single_news.title }}</h1>
                            <h4>{{ single_news.short_description }}</h4>
                            <p>{{ single_news.description | linebreaks }}</p>
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="/static/news/img/user.jpg" width="25" height="25" alt="">
                                <span>Asilbek Mirolimov</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>{{ single_news.views }}</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>{{ single_news.get_comments_count }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{ single_news.get_comments_count }} kommentariyalar</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                        {% if news_comments %}
                        {% for comment in news_comments %}
                            <div class="media mb-4">
                                <img src="/static/news/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">{{ comment.get_user }}</a> <small><i>{{ comment.created_at }}</i></small></h6>
                                    <p>{{ comment.comment_text }}</p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                            <h6 class="text-center">Bu yangilikka hali hech qanday izoh qoldirilmagan</h6>
                        {% endif %}
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Kommentariya qoldirish</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form method="post">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    {{ form.comment_text }}
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Jo'natish"
                                        class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

            {% include 'news/right_side.html' %}

            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->

{% endblock content %}
